{% extends 'base.html' %}

{% block content %}

<!--<h1> Bonjour Keven; </h1>

<h2>Ce-ci est ma premiere page en utilisant un <strong style="color: blueviolet"> cadriciel </strong> </h2>-->


<ul>
    {% for x in projet %}
    <div class="card" style="width: 18rem;">
        <img src="{{x.image_url}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">click</a>
        </div>
    </div>

    {% endfor %}
</ul>

{% endblock %}